
  <div class="form-inputs">

<%= simple_form_for(@boat) do |f| %>
  <%= f.error_notification %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :kind %>
  <%= f.submit "Modifier", class: "btn btn-warning" %>
<% end %>
  </div>
