
<div class="container">
  <h1>Voici les bateaux disponibles</h1>
  <%= link_to "Retour à la recherche", root_path, class: "btn btn-primary" %>
</div>

<div id="map" style="width: 62%; height: 600px; float: right;"></div>

<div class="container">
  <div class="row">
    <% @boats.each do |boat| %>
      <%= link_to boat do %>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path boat.photos.first.path, height: 250, width: 350, crop: :fill %>')">
            <div class="card-category">
              <p><%= boat.name.capitalize %></p>
            </div>
            <div class="card-description">
              <p><%= boat.address %></p>
              <p> <%= boat.kind %></p>
            </div>
            <div class="card-price">
              <p><%= boat.price %>€/j</p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
 </script>
<% end %>
