<div class="container padded">
  <div class="row">
    <% @boats.each do |boat| %>
      <%= link_to boat do %>
        <div class="col-xs-12 col-sm-4">
          <% if boat.photos? %>
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path boat.photos.first.path, height: 250, width: 350, crop: :fill %>')">
               <div class="card-category">
                <p><%= boat.name.capitalize %></p>
               </div>
              <div class="card-description">
                <p><%= boat.address %></p>
                <p> <%= boat.kind %></p>
              </div>
              <div class="card-price">
                <p><%= "12" %>€/j</p>
              </div>
            </div>
          <% else %>
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path hermione1.jpeg, height: 300, width: 400, crop: :fill %>')">
              <div class="card-category">
               <p><%= boat.name.capitalize %></p>
              </div>
              <div class="card-description">
              <p><%= boat.address %></p>
            </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
