
  <div class="form-inputs">
<h2>Ajouter votre bateau</h2>
<%= simple_form_for(@boat) do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :kind %>
  <%= f.input :photos, as: :attachinary %>

  <%= f.submit "Ajouter un yacht", class: "btn btn-warning" %>
<% end %>
  </div>
