<div class="container padded">
  <div class="row">
    <div class="col-sm-8 boat-space text-left">
      <div class="boat-description">
        <h1> <%= @boat.name %></h1>
        <p> Port d'attache: <%= @boat.address.capitalize %></p>
        <p> Type de bateau: <%= @boat.kind.capitalize  %></p>
        <div id="price">
          <%= @boat.price %> €/jour
        </div>
      </div>
      <div class="card" >
        <%= cl_image_tag @boat.photos.first.path, height: 250, width: 350, crop: :fill %>
      </div>
      <div class="boat-pictures">
        <ul class="list-inline">
        <% @boat.photos[0..-2].each do |photo| %>
          <li>
            <%= cl_image_tag photo.path, height: 150, width: 200, crop: :fill %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-sm-4">
      <p> Choisissez vos dates et embarquez!</p>
      <div class="input-daterange input-group" >
        <%= simple_form_for [@boat, @renting] do |f| %>
          <%= f.text_field :starting_date, placeholder: 'A partir de',
          class: 'input-md form-control' %>
          <%= f.text_field :end_date, placeholder: 'Jusqu\'au',
          class: 'input-sm form-control'%>
      </div>
        <%= f.submit "Réserver" %>
      <% end %>
    </div>
  </div>
</div>
