<h1>See the <%= @boat.name %></h1>

<p><%= @boat.address %></p>
<p><%= @boat.kind %></p>
<p><%= @boat.user.first_name.capitalize + " " + @boat.user.last_name.capitalize %></p>


<div class="container">
  <div class="booking">
    <%= simple_form_for [@boat, @renting] do |f| %>
    <%= f.text_field :starting_date, placeholder: 'Start Date', class: 'form-control', readonly: 'true' %>
    <%= f.input :end_date, placeholder: 'Start Date', class: 'form-control', readonly: 'true' %>
    <%= f.submit class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
