<div class="container padded">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="boat-description">
        <h1> <%= @boat.name %></h1>
        <p> Port d'attache: <%= @boat.address.capitalize %></p>
        <p> Type de bateau: <%= @boat.kind.capitalize %></p>
        <div id="price">
          <p> A partir de: <%= @boat.price %> €/jour</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6" class="renting-form">
      <p> Choisissez vos dates et embarquez!</p>
      <div class="input-daterange input-group" >
        <%= simple_form_for [@boat, @renting] do |f| %>
          <%= f.text_field :starting_date, placeholder: 'A partir de',
          class: 'input-md form-control' %>
          <%= f.text_field :end_date, placeholder: 'Jusqu\'au',
          class: 'input-sm form-control'%>
      </div>
        <%= f.submit "Réserver", class: 'btn btn-primary' %>
        <p>prix total</p> <%=  %>
      <% end %>
    </div>
  </div>
</div>

<div class="container padded">
  <div class="row">
    <% @boat.photos.each do |photo| %>
      <div class="col-sm-12 col-md-4">
        <%=  cl_image_tag photo.path, width: 300, height: 200, crop: :fill, class: "pictures" %>
      </div>
    <% end %>
  </div>
</div>

