<div class="container padded">
  <div class="row">
    <div class="col-sm-8">
      <div class="boat-description">
        <h1> <%= @boat.name %></h1>
        <p> Port d'attache: <%= @boat.address.capitalize %></p>
        <p> Type de bateau: <%= @boat.kind.capitalize %></p>
        <div id="price">
          <p> A partir de: <%= @boat.price %> €/jour</p>
        </div>
      </div>
      <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @boat.photos.first.path, height: 250, width: 350, crop: :fill %>')">
      </div>
      <div class="boat-pictures">
        <ul class="list-inline">
        <% @boat.photos[0..-2].each do |photo| %>
          <li>
            <%= cl_image_tag photo.path, height: 150, width: 200, crop: :fill %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-sm-4" class="renting-form">
      <p> Choisissez vos dates et embarquez!</p>
      <div class="input-daterange input-group" >
        <%= simple_form_for [@boat, @renting] do |f| %>
          <%= f.text_field :starting_date, placeholder: 'A partir de',
          class: 'input-md form-control' %>
          <%= f.text_field :end_date, placeholder: 'Jusqu\'au',
          class: 'input-sm form-control'%>
      </div>
        <p>prix total</p> <%=  %>
        <%= f.submit "Réserver", class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
